<!DOCTYPE html>
<html>
<head>
<title>Welcome to Left 4 Swag 2!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
	color: white;
	background-color: black;
    }
</style>
</head>
<body>
<center>
<h1>Left 4 Swag 2</h1>
<h2>#2 (Experimental server)</h2>
</center>
<p>This is an experimental server for SourceMod plugin testing and other L4D2-related projects that I'm working on. I make no guarantees as to the stability or uptime of this server.</p>
<p><b>Note that no plugins which would alter game mechanics are installed</b> (such as Perkmod, Crawl When Incapped, Incapped Meds Munch, etc.)</p>
<center>
<br>
<h3>Statistics</h3>
{{ visitors }} players have connected since the last reboot
<br>
The server was last rebooted at {{ reboot }}
</center>
</ul>
</body>
</html>
